<h1 class="center">Mailed Secrets</h1>
<div class="introduction">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita obcaecati cupiditate tempora ea cum! Aut ex odio ut eligendi nobis, atque adipisci facilis. Porro reprehenderit atque officia dignissimos, quam cupiditate.</p>

<% form_tag('/users/create') %>