<h1 class="center">Thanks website</h1>
<div class="introduction">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita obcaecati cupiditate tempora ea cum! Aut ex odio ut eligendi nobis, atque adipisci facilis. Porro reprehenderit atque officia dignissimos, quam cupiditate.</p>

<a href="/auth/github">Github Sign Up test</a>